<div class="footer" *ngIf="!hide">
    <div class="nav">
        <div class="nav-item" (click)="filter(menuItem)" [ngClass]="{active: activated === menuItem.title}" *ngFor="let menuItem of menuItems">
            <div class="menu-item-icon" *ngIf="menuItem.icon.type === 'fontawesome'" [innerHTML]="menuItem.icon.path"></div>
            <div class="menu-item-icon" *ngIf="menuItem.icon.type === 'image'"><img src="assets/image.png" class="menuImageResized"></div>

            <div class="nav-item-title"> {{ menuItem.title }}</div>
        </div>
    </div>
</div>
