@import '../../../scss/theme.scss';

.footer {
  background-color: $footerBackgroundColor;
  border-top: solid 1px #eee;

  height: 60px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  .nav {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .width {
      width: 33.3%;
    }

    .nav-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      opacity: .6;

      .nav-item-title {
        margin-top: 4px;
      }

      &:hover {
        opacity: 1;
      }

      &.active {
        opacity: 1;
      }
    }
  }
}
