<div class="footer" *ngIf="!hide" [ngStyle]="{'color': this.data.appData.footerData[0].footerColor}">
    <div class="nav">
        <div *ngFor="let footerItem of footerItems">
                <div class="nav-item" (click)="filter(footerItem.footerCategory);" [ngClass]="{active: activated===footerItem.footerCategory}">
                    <div class="menu-item-icon" *ngIf="footerItem.footerIcon.footerIconType === 'fontawesome'" [innerHTML]="footerItem.footerIcon.footerIconPath"></div>
                    <div class="menu-item-icon" *ngIf="footerItem.footerIcon.footerIconType === 'image'"><img src="assets/image.png" class="menuImageResized"></div>
                    <div class="nav-item-title">{{ footerItem.footerTitle }}</div>
                </div>
            </div>
    </div>
</div>
