<div class="header" flex flex-row flex-space-between *ngIf="showBigOn">
    <img id="logo" src="assets/icons/snmr.png" alt="snmr">
    <h2>Rhumato Scores</h2>
    <a href="cmd://webview-close" *ngIf="!isDesktopDevice()">
        <img src="assets/icons/close.png" alt="" class="close">
    </a>
    <div *ngIf="isDesktopDevice()"></div>
</div>

<div class="header small" flex flex-row flex-space-between *ngIf="!showBigOn">
    <div (click)="closeViewer()">
        <i class="fal fa-angle-left"></i>
    </div>
    <strong>{{ title }}</strong>
    <a href="cmd://webview-close" *ngIf="!isDesktopDevice()">
        <img src="assets/icons/close.png" alt="" class="close">
    </a>
    <div *ngIf="isDesktopDevice()"></div>
</div>