@import '../../../scss/theme.scss';

.header {
  position: fixed;
  top: 0;
  width: 100%;

  //background-color: blue;
  align-items: center;

  h2 {
    text-align: center;
  }

  #logo {
    // if logo is an image, set : height: 50px; margin-left: 15px;
    height: 80px;
  }

  .close {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

  &.small {
    height: 40px;
    padding-right: 12px;

    strong {
      align-self: center;
    }

    i {
      font-size: 32px;
      padding: 0 12px;
    }
  }
}

