<div>
    <div *ngIf="apps.length === 0" class="no-results">
        <h3>Aucun résultat</h3>
    </div>

    <ul class="appsList">
        <app-entry [app]="app" [lastEntry]="i === apps.length-1" *ngFor="let app of apps, index as i" [activatedCategory]="activatedCategory"></app-entry>
        <li [ngClass]="{'contact': true}">
            <p class="copyright" *ngIf="this.data.appData.appCopyright.copyrightShow">
                {{ this.data.appData.appCopyright.copyrightEntreprise }}&copy;{{ this.data.appData.appCopyright.copyrightYear }}
                <br>
                {{ this.data.appData.appCopyright.copyrightDescription }}
                <br>
                <a href="#" target="_blank" (click)="contactUs()">Demander d'autres scores</a>
            </p>
        </li>
    </ul>
    <mat-grid-list class="grp-btn" cols="3" gutterSize="0.5em" rowHeight="3.5em">
        <mat-grid-tile class="btn blue" colspan="1"
                       (click)="openDocLink('https://360medics.com/q/905e873d')">
            Bon usage
            <br>Pradaxa
        </mat-grid-tile>
        <mat-grid-tile class="btn blue" colspan="1"
                       (click)="openDocLink('https://360medics.com/q/7be645af')">
            Bon usage
            <br>Praxbind
        </mat-grid-tile>
        <mat-grid-tile class="btn blue" colspan="1"
                       (click)="openDocLink('https://360medics.com/q/0c57cbde')">
            Bon usage
            <br>Actilyse
        </mat-grid-tile>
        <mat-grid-tile class="btn gray" colspan="1"
                       (click)="openLink('https://360medics.com/q/fb676dcc')">
            RCP
            <br>Pradaxa
        </mat-grid-tile>
        <mat-grid-tile class="btn gray" colspan="1"
                       (click)="openLink('https://360medics.com/q/20c60e36')">
            RCP
            <br>Praxbind
        </mat-grid-tile>
        <mat-grid-tile class="btn gray" colspan="1"
                       (click)="openLink('https://360medics.com/q/a7437654')">
            RCP
            <br>Actilyse
        </mat-grid-tile>
    </mat-grid-list>
</div>
<p class="info-entreprise">
    20-0056 – 01/2020 - 20/01/65570603/PM/011
    <br>Boehringer Ingelheim France S.A.S.
</p>
