[flex] {
   display: flex; 
}

[flex-column] {
    flex-direction: column;
}

[flex-row] {
    flex-direction: row;
}

[flex-space-around] {
    justify-content: space-around;
}

[flex-space-between] {
    justify-content: space-between;
}

[flex-grow-1] {
    flex-grow: 1;
}

[flex-grow-2] {
    flex-grow: 2;
}

[flex-align-left] {
    align-items: left;
}